html {
	height: 100%;
}

body {
	height: auto;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: cornflowerblue;
	/*background-color: #f5d020;
	background-image: linear-gradient(325deg, #f5d020 0%, #f53803 74%);*/
	background-attachment: fixed;
	margin-left: 3%;
	margin-right: 3%;
}

#title {
	color: white;
}

a {
	text-decoration: none;
}

a:link {
	color: orange;
}

a:visited {
	color: darkorange;
}

#title > a {
	color:white;
}

body {
	padding-bottom: 50px;
}

#sideBar {
	position: fixed;
	height: auto;
	width: 24%;
	top: 80px;
	right: 30px;
	background-color: white;
	border-radius: 15px;
/*	padding-left: 15px;*/
	text-align: center;
}

#sideBar img {
	display: block;
	max-width: 200px;
	max-height: 134px;
	margin-left: auto;
	margin-right: auto;
}

#sideBar div {
	text-align: center;
}