#recipeList {
	position: relative;
}

#recipeList div {

}

.tab {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.tab button {
	background-color: gray; 
	border: none;
	outline: none;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 35px;
	/*margin-bottom: -20px;*/
}

.tab button:hover {
	cursor: pointer;
}

.tab button.active {
	background-color: white;
}

.tabContent {
	position: absolute;
	height: auto;
	margin-top: 25px;
	width: 70%;
	padding-bottom: 120px;
}

.tabContent div {
	top: 5px;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	height: auto;
	width: 100%;
	border-radius: 15px;
	background-color: white;
}

#hoverImage {
	position: absolute;
	top: 0;
    left: 0;
    border: solid 1px;
    background-color: white;
    padding: 5px;
    display: none;
}

#hoverImage > img {
	max-width: 200px;
	max-height: 200px;
}

